<div class="indent-header">
    <div class="slider-1 clearfix">

        <div class="flex-container">
            <div class="flexslider loading">
                <ul class="slides">

                    <!-- SLIDE 1 -->
                    <li style="background:url(images/flexslider/constr2.jpg) no-repeat; background-position:50% 0">
                        <div class="container">
                            <div class="sixteen columns contain">
                                <h2 data-toptitle="48%" class="norm-43-wide text-center font-white caption-18-wide-767 flex-top-bot"><span class="slider-caption-border slider-caption-border-767">PROFESSIONALISM & QUALITY </span></h2>
                            </div>
                        </div><!-- End Container -->
                    </li><!-- End item -->

                    <!-- SLIDE 2 -->
                    <li style="background:url(images/flexslider/constr.jpg) no-repeat;background-position:50% 0">

                        <div class="container">
                            <div class="sixteen columns contain">
                                <h2 data-toptitle="39%" class="norm-43-wide norm-20-767 norm-40-768-959 font-light top-28-767 flex-top-bot">CONSTUCTION COMPANY<br><span class="bold">HASWELL</span></h2>
                                <p data-bottomtext="30%" class="bot-15-767 flex-bot-top"><a class="button medium thin hover-dark tp-button white" href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel">SEE MORE</a><a class="button medium thin hover-dark tp-button white ml-20" href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel">PURCHASE</a></p>
                            </div>
                        </div><!-- End Container -->

                    </li><!-- End item -->

                    <!-- SLIDE 3 -->
                    <li style="background:url(images/flexslider/constr4.jpg) no-repeat; background-position:50% 0">

                        <div class="container">
                            <div class="sixteen columns contain">
                                <h2 data-toptitle="47%" class="norm-43-wide text-center top-28-767 flex-top-bot" >ALL KINDS OF CONSTRUCTION WORKS<br></h2>
                            </div>
                        </div><!-- End Container -->

                    </li><!-- End item -->

                </ul>
            </div>
        </div>

    </div><!-- End slider -->
</div>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/flex-slider.js"></script>