<div class="page-title-cont page-title-large grey-dark-bg page-title-img  blog-single-fullwidth-img" style="background-image: url(images/imgpsh_fullsize1.jpg);background-position: 50% 37%;padding-top: 530px">
</div>
<!-- CLIENTS 1 & TESTIMONIALS 1 -->
<div class="page-section p-110-cont">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="mb-50">
                    <h2 class="section-title">IDEA OF <span class="bold">THE PROJECT</span></h2>
                </div>
            </div>

        </div>
        <div class="row">
            <!-- CLIENTS 1 -->
            <!-- TESTIMONIALS 1 -->
            <div class="col-md-12 text-justify">
                <p>The project “Universe 69” investigates the events in the life of Armenian and Japanese societies. At
                    first glance, it is a society with different cultural traditions, mentality, and the level of
                    involvement in the contemporary technological epoch, language, culture and many others that forms an
                    integral part as a nation, as well as the territory on which this nation was formed and is living
                    until this day.</p>


                <p>However, the tragic events that took place in Armenia and Japan unites them into one whole. We are
                    talking about the earthquake, which happened in Armenia in December 7, 1988 and the events that
                    occurred in March 11, 2011 in Japan.</p>

                <p>The experience of gained traumas acutely bared sensitive aspects of human subjectivity, has
                    concentrated emotional side, which was making it as a carrier an irrational principle, while not
                    offering nor any potential scenarios for the resolving the situation.</p>

                <p>In the formed conditions, it is necessary to comprehend the lessons for the Armenian and Japanese
                    society. Comprehend the lessons - means to change public opinion on the problem and the attitude to
                    it, in a way that clearly understand the real danger of the possibility of occurrence of such
                    events, to anticipate their material and spiritual consequences to take exhaustive measures to
                    prevent them, to support full readiness for effective action experts and the population in a
                    situation of disaster.</p>
                <blockquote style="float: right">
                    Alexandru Raevschi
                </blockquote>


            </div>

        </div>
        <div class="row">
            <div class="mt-120 mb-50" style="margin-top: 70px">
                <h2 class="section-title">“UNIVERSE 69” <span class="bold">– phase 1 (Gyumri, Armenia)</span></h2>
                <h4>“Gallery of Sisters Miriam and Yeranuhi Aslamazian”</h4>
            </div>
            <div class="col-lg-6">
                <h3 class="section-title">Curator:</h3>
                <p>Alexandru Raevschi</p>
                <h3 class="section-title">Coordinator:</h3>
                <p>Hidemi Nishida</p>
                <h3 class="section-title">Assistant:</h3>
                <p>Anna Khachatryan</p>


                <div class="mb-20">
                    <h2 class="section-title">Partners of the project</h2>
                </div>
                <p>Gyumri Branch of Yerevan State Academy of Fine Arts, (Gyumri, Armenia)</p>
                <p>Joshibi University of Art and Design, (Tokyo, Japan)</p>
                <p>The Municipality Of Gyumri, (Gyumri, Armenia)</p>
                <p>“Gallery of Sisters Miriam and Yeranuhi Aslamazian” (Gyumri, Armenia)</p>

            </div>
            <div class="col-lg-6">
                <div class="mb-20">
                    <h2 class="section-title">Special thanks to:</h2>
                </div>
                <p>Sargis Hovhannisyan</p>
                <p>Vahagn Ghukasyan</p>
                <p>Hambardzum Ghukasyan</p>
                <p>Argishti Harutyunyan</p>
                <p>Stephan Ter-Margaryan</p>
                <p>Artush Mkrtchyan</p>
                <p>Hrachya Hakobyan</p>
                <p>Susanna Hakobyan</p>
                <p>Anna Hakobyan</p>
            </div>

        </div>
        <div class="row mt-50">
            <div class="mb-50">
                <h2 class="section-title">“Universe 69” <span class="bold">– phase 2, exhibition at the gallery “co-ume lab” (Tokyo, Japan)</span>
                </h2>
                <h4>“Panorama of the past or how to survive yesterday's tomorrow” </h4>
            </div>
            <div class="col-lg-6">
                <h3 class="section-title">Project curator</h3>
                <p>Alexandru Raevschi</p>
                <h3 class="section-title">Co-curator</h3>
                <p>Hidemi Nishida</p>

                <h3 class="section-title">Artists:</h3>
                <p>Atsuko Mochida</p>
                <p>Hidemi Nishida</p>
                <p>Kana Kuroiwa</p>
                <p>Alexandru Raevschi</p>
                <p>Liana Hakobyan</p>


            </div>
            <div class="col-lg-6">
                <h3 class="section-title">Project partners:</h3>
                <p>Gyumri branch of Yerevan State Academy of Fine Arts (Gyumri, Armenia)</p>
                <p>Joshibi University of Art and Design (Tokyo, Japan)</p>
                <p>Gallery “co-ume lab” Tokyo (Tokyo, Japan)</p>
                <h2 class="section-title">Granted by:</h2>
                <p>Nomura Foundation (Tokyo, Japan)</p>

                <h2 class="section-title">Special thanks to:</h2>

                <p>Field of Art Produce and Museum Studies, Joshibi University of Art and Design</p>
                <p>Professor: Teiko Hinuma</p>
                <p>Research Associate: Yumi Seta</p>
                <p>Research Associate: Sanae Yamada</p>

            </div>

        </div>
    </div>
</div>