<div class="page-title-cont page-title-large grey-dark-bg page-title-img  blog-single-fullwidth-img"
     style="background-image: url(images/site/workshop/bg.JPG);padding-top: 500px">
    <div class="relative container align-left">
        <div class="row">

            <div class="col-md-8">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12 mt-30">
        <div class="mb-50">
            <h1 class="section-title text-uppercase">Workshop</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-justify">
            <p>An educational workshop in the city of Gyumri, with students from the Art Academy of Gyumri, as well as
                participants from Japan.</p>
            <p>During the workshop, the participants collected materials related to the events of December 7, 1988, as
                well as materials related to the collapse of the Soviet Union and the events that began to develop
                inside the Armenian society.</p>

            <p>Գյումրիի կրտական սեմինարը անցկացվել է ԵԳՊԱԳՄ-ի ուսանողական կազմի և Ճապոնիայի մասնակիցների հետ միասին:</p>
            <p>Սեմինարի ընթացքում մասնակիցները հավաքում էին նյութեր 1988թ.-ի դեկտեմբերի 7-ի դեպքերի հետ կապված ,ինչպես նաև նյութեր` կապված Սովետական Միության փլուզման հետ, և իրադարձություններ` կապված հայկական հասարակության հետ :</p>
            <br>
            <br>
            <br>
            <br>
        </div>
        <!-- FEATURES 2 -->

    </div>
    <div class="container mb-80">


        <div owl-carousel="data" owl-options="{{owlOptions}}"
             class="fullwidth-slider owl-carousel owl-arrows-bg owl-dark-bg owl-pag-2">
            <div class="item m-0">
                <div>
                    <img alt="about us" ng-src="{{item.img}}" class="img-responsive gallery_img">
                </div>
            </div>
        </div>
    </div>
</div>